- MS-Windows 8, 7, or Vista (Windows XP may work, but is no longer supported by Microsoft)

- The Microsoft .NET Framework 4.0 (downloadable from Microsoft)
http://www.microsoft.com/en-us/download/details.aspx?id=17851

- 15MB of hard drive space

- Display resolution of 1024 x 768
 

